html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.screen-container {
	padding: 0 20px;
}

.actionBtn {
	height: 40px;
	font-size: 15px;
	padding: 0 20px;
	font-weight: bold;
	border: 1px solid;
}

.gameplay-screen {
	.console {
		border: 3px solid black;
		padding: 5px;
		height: 40px;
	}
	.startOrEndGameBtn {
		background-color: #f7f7f7;
		margin-bottom: 10px;
	}
	.hitBtn {
		background: #5bec5b;
		border-color: #45b345;
		margin-right: 10px;
	}
	.standBtn {
		background-color: #e61e1e;
		border-color: #a51616;
	}
}